

{% extends 'base.html' %}

{% block body %}
<p><a href="{{ url_for('.add_cpu')}}"> Add a New CPU</a></p>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>

{% if cpu %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CPU Name</th>
                <th>Cores</th>
                <th>Clock</th>
            </tr>
        </thead>

        <tbody>
            {% for row in cpu %}
            <tr>
                <td> {{ row.cpu_id }}</td>
                <td> {{ row.cpu_name }}</td>
                <td> {{ row.cores }}</td>
                <td> {{ row.clock }}</td>

                    <td>
          
        </td>
        <td>
          <form action="/delete_cpu/{{ row.cpu_id }}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" />
          </form>
        </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
